/* **GENERICO CSS */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: black;
}
.textAligncenter {
    text-align: center;
}
.wid {
    width: calc(100% / 3 - 4px);
}
.margin {
    margin:5px 2px;
}
.dispNone {display: none;
}
.pad {
    padding:3px;
}
.marginTop {
    margin-top: 2px;
}
.grey {
    color: gray;
} 
.relative {
    position: relative;
}
/* REGOLE FLEX */
.flex {
    display: flex;
}
.alignitemCent {
    align-items: center;
}
.jtfcontSpacebet {
    justify-content:space-between;
}
.jtfcontCent {
    justify-content: center;
}
.jtfcontSpacearound {
    justify-content: space-around;
}
.wrap {flex-wrap: wrap;}
/* HEADER CSS */
header {
    height: 60px;
}
.navbar {
    width: 100%;
    position: fixed;
}
.bgOrange   {
    background-color: #ff6900;
}
#link,#logo,#icons {
    width: 25%;
    color: white;
}
#logo img {
    width: 50%;
    padding: 5px;    
}
/* Regole Css */
#icons .fa-solid {
    margin: 0 3px;
}
#icons .fa-solid:hover {
    color:black;
}
/* MAIN CSS */
main {
    margin-top: 60px;
}
.containerProducts {
    width: 80%;
    margin: 0 auto;
}
.containerProducts .fa-solid {
    position: absolute;
    top: 10px;
    right: 3px;
}
.containerProducts img{
    width: 100%; 
}

/* FOOTER CSS */